body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.main {
    min-height: 100vh;
}

/* header */

.with-small-line {
    position: relative;
    margin-bottom: 20px;
    color: #769582;
}

.with-small-line.left-aligned::before {
    left: -15px;
}

.with-small-line.center-aligned::before {
    left: 48.5%;
    transform: translateX(-300%);
}

.with-small-line.center-aligned-newsletter::before {
    left: 47.5%;
    transform: translateX(-450%);
}

.with-small-line::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 10px;
    background-color: #769582;
}

/* ----------------------------------------------------- */
/* Benefits */
.section-benefits {
    background-color: #f9f9f9;
    margin-bottom: 70px;
    padding: 60px;
}

.tab-benefits {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

.tab-benefits-title{
    flex: 1;
    text-align: left;
    padding-right: 70px;
}

.tab-benefits-description {
    flex: 1;
    text-align:justify;
    margin: 0 auto;
    padding-left: 10px;
    position: relative; 
}

.tab-benefits-description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 2px;
    height: 100%;
    background-color: #769582;
}

.card-benefits {
    display: flex;
    justify-content: space-between;
}

.card-benefits-member {
    flex: 0 0 19%; 
    padding: 30px;
    height: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: left;
    background-color: #edebeb;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-benefits-member img {
    max-width: 100%;
    max-height: 100%;
}

/* ----------------------------------------------------- */
/* category */
.section-category{
    text-align: center;
    background-color: #ededed;
    margin-bottom: 70px;
    padding: 60px;
}

.tab-category {
    margin-bottom: 60px;
    align-items: center;
}

.tab-category-title {
    text-align: center;
}

.card-category {
}

.category {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.category img {
    width: 100%;
    height: auto;
}

.category-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #d81212; /* Set text color to contrast with the image */
}

.category-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.category-info a i {
    font-size: 24px;
}

.category-info a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d7d3d3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* ----------------------------------------------------- */
/* Newsletter */
.section-newsletter{
    background-color: #f9f9f9;
    margin-bottom: 70px;
    padding: 60px;
    text-align: center;
}

.tab-newsletter {
    align-items: center;
}

.tab-newsletter-title {
    text-align: center;
}

.tab-newsletter-description {
    text-align:center;
    margin: 0 auto;
    padding: 0px;
}

.card-newsletter {
}

@media (max-width: 700px) {
    .card-benefits {
      flex-direction: column;
    }
  }