body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
}

.section {
    padding: 20px;
}

.section-benefits{
    background-color: #f9f9f9;
}

.tab-benefits {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

.tab-benefits-title{
    flex: 1;
    text-align: left;
}

.tab-benefits-description {
    flex: 1;
    text-align:justify;
    margin: 0 auto;
    padding: 0px;
}

.card-benefits {
    display: flex;
    justify-content: space-between;
}

.card-benefits-member {
    flex: 0 0 19%; 
    padding: 30px;
    height: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: left;
    background-color: #edebeb;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-benefits-member img {
    max-width: 100%;
    max-height: 100%;
}

.section-category{
    background-color: #ededed;
}

.tab-category {
    margin-bottom: 60px;
    align-items: center;
}

.tab-category-title{
    text-align: center;
}

.card-category {
}

@media (max-width: 700px) {
    .card-benefits {
      flex-direction: column;
    }
  }