body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
}

.section {
    /* margin-bottom: 20px; */
    padding: 20px;
}

.tab {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.tab-title{
    flex: 1;
    /* width: 200px; */
    /* margin: 0px auto; */
    /* padding: 50px; */
    text-align: left;
}

.tab-description {
    flex: 1;
    text-align:justify;
    margin: 0 auto;
    padding: 0px;
}

.card {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    
}

.card-member {
    flex: 0 0 19%; 
    padding: 30px;
    height: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: left;
    background-color: #edebeb;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.card-member img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 700px) {
    .card {
      flex-direction: column;
    }
  }